<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="icon" href="logo.webp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css"> 
<link rel="stylesheet" href="font.css">
    </head>
<body>
 <div class="one">
     <div class="container ga-maamli-regular
     ">
        <div class="t0" >
         <h1>Login</h1>
        </div>
         <div class="t1">
            <h3>Username</h3>
         </div>
         <div class="t2">
           <h3>Password</h3>
         </div>
         <br>
         <div class="bt">
            <button>Submit</button>
         </div>
     </div>
    </div>
</body>
</html>